Repository uccser/cs-field-guide, pull requests merged in 2018-07, with the labels that each got.

#655 Refactor checksum-calculator-gtin-13 interactive.
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/checksum-calculator-gtin-13/index.html
  csfieldguide/static/interactives/checksum-calculator-gtin-13/js/checksum-calculator-gtin-13.js
  csfieldguide/templates/interactives/checksum-calculator-gtin-13.html
Labels: backend, interactives

#659 Refactor checksum-calculator interactive.
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/checksum-calculator/index.html
  csfieldguide/static/interactives/checksum-calculator/js/checksum-calculator.js
  csfieldguide/templates/interactives/checksum-calculator.html
Labels: backend, interactives

#664 Refactor compression-comparer
  csfieldguide/chapters/content/en/coding-compression/sections/the-big-picture.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/compression-comparer/css/compression-comparer.css
  csfieldguide/static/interactives/compression-comparer/index.html
  csfieldguide/templates/interactives/compression-comparer.html
Labels: backend, interactives

#663 Refactor number-generator interactive.
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/templates/interactives/number-generator.html
Labels: backend, interactives

#665 Refactor huffman-tree
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/huffman-tree/css/huffman-tree.css
  csfieldguide/static/interactives/huffman-tree/index.html
  csfieldguide/templates/interactives/huffman-tree.html
Labels: backend, interactives

#662 Add search feature
  .coveragerc
  csfg
  csfieldguide/appendices/models.py
  csfieldguide/appendices/search_indexes.py
  csfieldguide/chapters/models.py
  csfieldguide/chapters/search_indexes.py
  csfieldguide/config/settings/base.py
  csfieldguide/config/settings/testing.py
  csfieldguide/config/templatetags/query_replace.py
  csfieldguide/config/urls.py
  csfieldguide/config/views.py
  csfieldguide/search/__init__.py
  csfieldguide/search/apps.py
  csfieldguide/search/forms.py
  csfieldguide/search/management/__init__.py
  csfieldguide/search/management/commands/__init__.py
  csfieldguide/search/management/commands/rebuild_index.py
  csfieldguide/search/urls.py
  csfieldguide/search/views.py
  csfieldguide/static/css/third-party/multiple-select.css
  csfieldguide/static/img/third-party/multiple-select.png
  csfieldguide/static/js/third-party/multiple-select.js
  csfieldguide/static/js/website-search.js
  csfieldguide/static/scss/_navbar.scss
  csfieldguide/static/scss/search.scss
  csfieldguide/static/scss/website.scss
  csfieldguide/templates/404.html
  csfieldguide/templates/appendices/base.html
  csfieldguide/templates/base.html
  csfieldguide/templates/search/indexes/appendices/appendix_text.txt
  csfieldguide/templates/search/indexes/appendices/subappendix_text.txt
  csfieldguide/templates/search/indexes/chapters/chapter_text.txt
  csfieldguide/templates/search/indexes/chapters/chaptersection_text.txt
  csfieldguide/templates/search/result/appendix.html
  csfieldguide/templates/search/result/chapter.html
  csfieldguide/templates/search/result/chaptersection.html
  csfieldguide/templates/search/result/subappendix.html
  csfieldguide/templates/search/search.html
  csfieldguide/tests/appendices/AppendicesTestDataGenerator.py
  csfieldguide/tests/chapters/management/assets/chapters-number-invalid/structure/structure.yaml
  csfieldguide/tests/chapters/management/assets/chapters-number-missing/structure/structure.yaml
  csfieldguide/tests/chapters/management/test_loadtopics_command.py
  csfieldguide/tests/config/templatetags/test_query_replace.py
  csfieldguide/tests/config/urls/__init__.py
  csfieldguide/tests/config/urls/test_health_check_url.py
  csfieldguide/tests/create_query_string.py
  csfieldguide/tests/helpers.py
  csfieldguide/tests/search/__init__.py
  csfieldguide/tests/search/management/__init__.py
  csfieldguide/tests/search/management/templates/appendix-1.html
  csfieldguide/tests/search/management/templates/appendix-without-id.html
  csfieldguide/tests/search/management/test_rebuild_index_command.py
  csfieldguide/tests/search/urls/__init__.py
  csfieldguide/tests/search/urls/test_index.py
  csfieldguide/tests/search/views/__init__.py
  csfieldguide/tests/search/views/templates/appendix-1.html
  csfieldguide/tests/search/views/test_index_view.py
  requirements/base.txt
Labels: backend

#654 Refactor delay-analyser interactive.
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/delay-analyser/css/delay-analyser.css
  csfieldguide/static/interactives/delay-analyser/index.html
  csfieldguide/static/interactives/delay-analyser/js/delay-analyser.js
  csfieldguide/templates/interactives/base/whole-page.html
  csfieldguide/templates/interactives/delay-analyser.html
Labels: backend, interactives

#671 Refactor binary-cards interactive.
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/binary-cards/css/binary-cards.css
  csfieldguide/static/interactives/binary-cards/index.html
  csfieldguide/static/interactives/binary-cards/js/binary-cards.js
  csfieldguide/templates/interactives/binary-cards.html
Labels: backend, interactives

#666 Refactor big-number-calculator
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/big-number-calculator/index.html
  csfieldguide/static/interactives/big-number-calculator/js/big-number-calculator.js
  csfieldguide/static/js/third-party/big.min.js
  csfieldguide/templates/interactives/big-number-calculator.html
Labels: backend, interactives

#660 Refactor parity interactive.
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/parity/css/parity.css
  csfieldguide/static/interactives/parity/index.html
  csfieldguide/static/interactives/parity/js/parity.js
  csfieldguide/templates/interactives/parity.html
Labels: backend, interactives

#644 Unicode length refactor
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/unicode-length/css/unicode-length.css
  csfieldguide/static/interactives/unicode-length/index.html
  csfieldguide/static/interactives/unicode-length/js/unicode-length.js
  csfieldguide/templates/interactives/unicode-length.html
Labels: backend, interactives

#675 Refactor sorting-algorithm-comparison interactive.
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/sorting-algorithm-comparison/css/style.css
  csfieldguide/templates/interactives/sorting-algorithm-comparison.html
Labels: backend, interactives

#676 Refactor fsa-box interactive.
  csfieldguide/config/settings/base.py
  csfieldguide/config/templatetags/get_item.py
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/fsa-box/config/example-1.json
  csfieldguide/static/interactives/fsa-box/config/example-2.json
  csfieldguide/static/interactives/fsa-box/css/fsa-box.css
  csfieldguide/static/interactives/fsa-box/index.html
  csfieldguide/static/interactives/fsa-box/js/fsa-box.js
  csfieldguide/static/js/third-party/iframeResizer.contentWindow.min.js
  csfieldguide/static/js/third-party/iframeResizer.min.js
  csfieldguide/templates/base.html
  csfieldguide/templates/generic/core-js.html
  csfieldguide/templates/interactives/base/iframe.html
  csfieldguide/templates/interactives/fsa-box.html
  csfieldguide/tests/config/templatetags/test_get_item.py
  csfieldguide/utils/custom_converter_templates/interactive.html
Labels: backend, interactives

#677 Refactor fsa-light interactive.
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/fsa-light/config/example-1.json
  csfieldguide/static/interactives/fsa-light/css/fsa-light.css
  csfieldguide/static/interactives/fsa-light/index.html
  csfieldguide/static/interactives/fsa-light/js/fsa-light.js
  csfieldguide/templates/interactives/fsa-light.html
Labels: backend, interactives

#682 Refactor run-length-encoding interactive.
  csfieldguide/chapters/content/en/coding-compression/sections/run-length-encoding.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/run-length-encoding/index.html
  csfieldguide/static/interactives/run-length-encoding/js/run-length-encoding.js
  csfieldguide/templates/interactives/run-length-encoding.html
Labels: backend, interactives

#679 Refactor rsa-no-padding interactive.
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/rsa-no-padding/index.html
  csfieldguide/static/interactives/rsa-no-padding/js/rsa-jsencrypt-no-padding.js
  csfieldguide/templates/interactives/rsa-no-padding.html
Labels: backend, interactives

#685 Update pyyaml to avoid security vulnerability
  requirements/base.txt
Labels: backend, urgent

#683 Refactor python-interpreter interactive.
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/python-interpreter/index.html
  csfieldguide/static/interactives/python-interpreter/js/python-interpreter.js
  csfieldguide/templates/interactives/python-interpreter.html
Labels: backend, interactives
