Repository uccser/cs-field-guide, pull requests merged in 2018-12, with the labels that each got.

#822 Merge Milestone/django-system into develop
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/checksum-calculator-gtin-13/index.html
  csfieldguide/static/interactives/checksum-calculator-gtin-13/js/checksum-calculator-gtin-13.js
  csfieldguide/static/interactives/checksum-calculator/index.html
  csfieldguide/static/interactives/checksum-calculator/js/checksum-calculator.js
  csfieldguide/static/interactives/parity/css/parity.css
  csfieldguide/static/interactives/parity/index.html
  csfieldguide/static/interactives/parity/js/parity.js
  csfieldguide/templates/interactives/checksum-calculator-gtin-13.html
  csfieldguide/templates/interactives/checksum-calculator.html
  csfieldguide/templates/interactives/parity.html
Labels: interactives, internationalization

#823 Activate Coding Introduction chapter
  csfieldguide/chapters/content/en/coding-introduction/coding-introduction.md
  csfieldguide/chapters/content/en/coding-introduction/sections/further-reading.md
  csfieldguide/chapters/content/structure/structure.yaml
Labels: frontend

#825 Activate Coding Compression chapter
  csfg
  csfieldguide/chapters/content/en/coding-compression/coding-compression.md
  csfieldguide/chapters/content/en/coding-compression/sections/audio-compression.md
  csfieldguide/chapters/content/en/coding-compression/sections/general-purpose.md
  csfieldguide/chapters/content/en/coding-compression/sections/huffman-coding.md
  csfieldguide/chapters/content/en/coding-compression/sections/image-compression-using-jpeg.md
  csfieldguide/chapters/content/en/coding-compression/sections/run-length-encoding.md
  csfieldguide/chapters/content/en/coding-compression/sections/the-whole-story.md
  csfieldguide/chapters/content/structure/structure.yaml
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/package.json
  csfieldguide/static/interactives/jpeg-compression/css/jpeg-compression.css
  csfieldguide/static/interactives/jpeg-compression/index.html
  csfieldguide/static/interactives/jpeg-compression/js/jpeg-compression.js
  csfieldguide/static/interactives/jpeg-compression/package.json
  csfieldguide/static/interactives/run-length-encoding/css/run-length-encoding.css
  csfieldguide/static/interactives/run-length-encoding/scss/run-length-encoding.scss
  csfieldguide/static/js/third-party/jquery.stepper.js
  csfieldguide/templates/interactives/jpeg-compression.html
  csfieldguide/templates/interactives/run-length-encoding.html
  csfieldguide/utils/custom_converter_templates/button-link.html
Labels: frontend, interactives, internationalization

#818 Refactor Regular Expression Search interactive
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/package.json
  csfieldguide/static/css/codemirror-mode-regex.css
  csfieldguide/static/css/codemirror.css
  csfieldguide/static/interactives/regular-expression-search/css/regular-expression-search.css
  csfieldguide/static/interactives/regular-expression-search/index.html
  csfieldguide/static/interactives/regular-expression-search/js/regular-expression-search.js
  csfieldguide/static/interactives/regular-expression-search/package.json
  csfieldguide/static/js/codemirror-mode-regex.js
  csfieldguide/templates/interactives/regular-expression-search.html
Labels: backend, interactives

#827 Activate Coding Encryption chapter
  csfieldguide/chapters/content/en/coding-encryption/sections/further-reading.md
  csfieldguide/chapters/content/en/coding-encryption/sections/storing-passwords-securely.md
  csfieldguide/chapters/content/en/coding-encryption/sections/substitution-ciphers.md
  csfieldguide/chapters/content/en/coding-encryption/sections/the-key-distribution-problem.md
  csfieldguide/chapters/content/en/coding-encryption/sections/the-whole-story.md
  csfieldguide/chapters/content/structure/structure.yaml
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/package.json
  csfieldguide/static/interactives/caesar-cipher/js/caesar.js
  csfieldguide/static/interactives/caesar-cipher/package.json
  csfieldguide/static/interactives/frequency-analysis/css/freq.css
  csfieldguide/static/interactives/frequency-analysis/index.html
  csfieldguide/static/interactives/frequency-analysis/js/frequency-analysis.js
  csfieldguide/static/interactives/frequency-analysis/package.json
  csfieldguide/static/interactives/rsa-key-generator/index.html
  csfieldguide/static/interactives/rsa-key-generator/js/rsa-key-generator.js
  csfieldguide/static/interactives/rsa-key-generator/package.json
  csfieldguide/static/interactives/rsa-no-padding/js/rsa-jsencrypt-no-padding.js
  csfieldguide/static/interactives/rsa-no-padding/package.json
  csfieldguide/static/js/iframe-resizer-content-window.js
  csfieldguide/static/js/website.js
  csfieldguide/templates/interactives/base/iframe.html
  csfieldguide/templates/interactives/checksum-calculator.html
  csfieldguide/templates/interactives/frequency-analysis.html
  csfieldguide/templates/interactives/rsa-key-generator.html
Labels: frontend, interactives, internationalization
