Repository uccser/cs-field-guide, pull requests merged in 2018-11, with the labels that each got.

#791 Remove references to jquery-text-input (fixes #790)
  csfieldguide/package.json
  csfieldguide/static/interactives/caesar-cipher/js/caesar.js
  csfieldguide/static/interactives/unicode-binary/js/unicode-binary.js
Labels: bug, urgent

#792 Typo and broken link fixes
  csfieldguide/chapters/content/en/coding-compression/sections/the-whole-story.md
  csfieldguide/chapters/content/en/computer-graphics/sections/further-reading.md
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
  csfieldguide/chapters/content/en/computer-vision/sections/further-reading.md
  csfieldguide/chapters/content/en/data-representation/sections/images-and-colours.md
  csfieldguide/chapters/content/en/data-representation/sections/numbers.md
  csfieldguide/chapters/content/en/formal-languages/sections/finite-state-automata.md
  csfieldguide/chapters/content/en/network-communication-protocols/sections/further-reading.md
Labels: bug, content: chapters

#794 Add test for checking all 'package.json' files are included in root 'package.json'
  csfieldguide/package.json
  csfieldguide/tests/create_query_string.py
  csfieldguide/tests/test_repository.py
Labels: testing

#778 Automate whole-page interactive links
  Dockerfile
  Dockerfile-local
  csfg
  csfieldguide/config/settings/base.py
  csfieldguide/config/settings/local.py
  csfieldguide/config/settings/testing.py
  csfieldguide/config/templatetags/render_interactive_link.py
  csfieldguide/interactives/urls.py
  csfieldguide/interactives/utils/__init__.py
  csfieldguide/interactives/utils/get_thumbnail.py
  csfieldguide/interactives/views.py
  csfieldguide/make-interactive-thumbnails.js
  csfieldguide/package.json
  csfieldguide/templates/general/index.html
  csfieldguide/templates/interactives/base/centered.html
  csfieldguide/templates/interactives/index.html
  csfieldguide/templates/interactives/utils/interactive-link.html
  csfieldguide/tests/config/templatetags/assets/templates/interactive-link.html
  csfieldguide/tests/config/templatetags/test_render_interactive_link.py
  csfieldguide/tests/interactives/utils/__init__.py
  csfieldguide/tests/interactives/utils/test_get_thumbnail.py
  csfieldguide/tests/interactives/views/assets/templates/base/centered.html
  csfieldguide/tests/interactives/views/test_interactive_view.py
  csfieldguide/tests/interactives/views/test_thumbnail_json.py
  csfieldguide/utils/custom_converter_templates/interactive.html
  csfieldguide/utils/render_html_with_load_tags.py
  csfieldguide/utils/render_interactive_html.py
  infrastructure/nginx/Dockerfile
  requirements/base.txt
Labels: backend, frontend, interactives

#805 Fix typo in Programming Languages chapter
  csfieldguide/chapters/content/en/programming-languages/sections/machine-code.md
Labels: bug, content: chapters

#810 Fix content errors in data rep chapter
  csfieldguide/chapters/content/en/data-representation/data-representation.md
  csfieldguide/chapters/content/en/data-representation/sections/images-and-colours.md
  csfieldguide/config/settings/local.py
  csfieldguide/templates/interactives/binary-cards.html
Labels: content: chapters, frontend
