Repository uccser/cs-field-guide, pull requests merged in 2018-09, with the labels that each got.

#689 Refactor caesar-cipher interactive.
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/caesar-cipher/index.html
  csfieldguide/templates/interactives/caesar-cipher.html
Labels: backend, interactives

#691 Refactor SHA2 interactive.
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/sha2/css/sha2.css
  csfieldguide/static/interactives/sha2/index.html
  csfieldguide/templates/interactives/sha2.html
Labels: backend, interactives

#712 Update Travis CI config file
  .travis.yml
Labels: testing

#710 Enable versioning and disabling of interactives
  csfieldguide/appendices/migrations/0003_auto_20180912_0244.py
  csfieldguide/chapters/migrations/0023_auto_20180912_0244.py
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/interactives/management/commands/_InteractivesLoader.py
  csfieldguide/interactives/migrations/0009_auto_20180912_0244.py
  csfieldguide/interactives/models.py
  csfieldguide/interactives/translation.py
  csfieldguide/templates/generic/not-available-warning.html
  csfieldguide/templates/interactives/base/iframe.html
  csfieldguide/templates/interactives/base/in-page.html
  csfieldguide/templates/interactives/base/whole-page.html
  csfieldguide/templates/interactives/index.html
  csfieldguide/tests/interactives/InteractivesTestDataGenerator.py
  csfieldguide/tests/interactives/loaders/assets/interactives/de/multiple-languages.yaml
  csfieldguide/tests/interactives/loaders/assets/interactives/en/invalid-language.yaml
  csfieldguide/tests/interactives/loaders/assets/interactives/en/missing-languages.yaml
  csfieldguide/tests/interactives/loaders/assets/interactives/en/multiple-languages.yaml
  csfieldguide/tests/interactives/loaders/assets/interactives/structure/basic-config.yaml
  csfieldguide/tests/interactives/loaders/assets/interactives/structure/invalid-language.yaml
  csfieldguide/tests/interactives/loaders/assets/interactives/structure/missing-interactives.yaml
  csfieldguide/tests/interactives/loaders/assets/interactives/structure/missing-languages.yaml
  csfieldguide/tests/interactives/loaders/assets/interactives/structure/missing-name.yaml
  csfieldguide/tests/interactives/loaders/assets/interactives/structure/multiple-languages.yaml
  csfieldguide/tests/interactives/loaders/assets/interactives/structure/translation.yaml
  csfieldguide/tests/interactives/loaders/test_interactive_loader.py
  csfieldguide/utils/render_interactive_html.py
  docs/source/developer/interactives.rst
Labels: backend, interactives, internationalization

#719 Add blockquote in introduction
  csfieldguide/chapters/content/en/introduction/introduction.md
  csfieldguide/static/scss/website.scss
  csfieldguide/utils/custom_converter_templates/blockquote.html
  csfieldguide/utils/render_html_with_load_tags.py
Labels: content: chapters

#715 Add spacing between interactives and text below for all in-page interactives.
  csfieldguide/templates/interactives/base/in-page.html
  csfieldguide/tests/config/templatetags/test_render_html_field.py
  csfieldguide/tests/config/templatetags/test_render_interactive_in_page.py
Labels: frontend, interactives

#731 Ensure JavaScript catalog is created when related commands are run
  csfg
Labels: bug

#735 Add off-by-one interactive to replace image in HCI chapter
  csfieldguide/chapters/content/en/human-computer-interaction/sections/interface-usability.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/templates/interactives/off-by-one.html
Labels: interactives, internationalization

#736 Update wording of introduction and use em dash character
  csfieldguide/chapters/content/en/algorithms/sections/sorting.md
  csfieldguide/chapters/content/en/artificial-intelligence/artificial-intelligence.md
  csfieldguide/chapters/content/en/artificial-intelligence/sections/chatterbots-and-the-turing-test.md
  csfieldguide/chapters/content/en/coding-compression/sections/lossy-vs-lossless.md
  csfieldguide/chapters/content/en/coding-compression/sections/run-length-encoding.md
  csfieldguide/chapters/content/en/coding-encryption/sections/cryptosystems-used-in-practice.md
  csfieldguide/chapters/content/en/coding-encryption/sections/substitution-ciphers.md
  csfieldguide/chapters/content/en/coding-encryption/sections/the-key-distribution-problem.md
  csfieldguide/chapters/content/en/coding-error-control/coding-error-control.md
  csfieldguide/chapters/content/en/coding-error-control/sections/check-digits-on-barcodes.md
  csfieldguide/chapters/content/en/coding-introduction/coding-introduction.md
  csfieldguide/chapters/content/en/coding-introduction/sections/story-of-coding.md
  csfieldguide/chapters/content/en/complexity-and-tractability/complexity-and-tractability.md
  csfieldguide/chapters/content/en/complexity-and-tractability/sections/algorithms-problems-and-speed-limits.md
  csfieldguide/chapters/content/en/complexity-and-tractability/sections/the-travelling-salesman-problem.md
  csfieldguide/chapters/content/en/complexity-and-tractability/sections/the-whole-story.md
  csfieldguide/chapters/content/en/complexity-and-tractability/sections/tractability.md
  csfieldguide/chapters/content/en/computer-graphics/computer-graphics.md
  csfieldguide/chapters/content/en/computer-graphics/sections/drawing-lines-and-circles.md
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
  csfieldguide/chapters/content/en/computer-vision/sections/face-recognition.md
  csfieldguide/chapters/content/en/computer-vision/sections/lights-camera-action.md
  csfieldguide/chapters/content/en/computer-vision/sections/noise.md
  csfieldguide/chapters/content/en/data-representation/data-representation.md
  csfieldguide/chapters/content/en/data-representation/sections/getting-started.md
  csfieldguide/chapters/content/en/data-representation/sections/images-and-colours.md
  csfieldguide/chapters/content/en/data-representation/sections/numbers.md
  csfieldguide/chapters/content/en/formal-languages/formal-languages.md
  csfieldguide/chapters/content/en/formal-languages/sections/finite-state-automata.md
  csfieldguide/chapters/content/en/formal-languages/sections/getting-started.md
  csfieldguide/chapters/content/en/formal-languages/sections/grammars-and-parsing.md
  csfieldguide/chapters/content/en/formal-languages/sections/regular-expressions.md
  csfieldguide/chapters/content/en/formal-languages/sections/the-whole-story.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/interface-usability.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/users-and-tasks.md
  csfieldguide/chapters/content/en/introduction/introduction.md
  csfieldguide/chapters/content/en/introduction/sections/about-this-guide.md
  csfieldguide/chapters/content/en/introduction/sections/beyond-speed.md
  csfieldguide/chapters/content/en/introduction/sections/further-reading.md
  csfieldguide/chapters/content/en/introduction/sections/how-to-use-this-guide.md
  csfieldguide/chapters/content/en/introduction/sections/programming.md
  csfieldguide/chapters/content/en/programming-languages/programming-languages.md
  csfieldguide/chapters/content/en/programming-languages/sections/how-does-the-computer-process-your-program.md
  csfieldguide/chapters/content/en/software-engineering/sections/software-processes.md
  csfieldguide/chapters/content/en/software-engineering/sections/testing.md
Labels: content: chapters

#734 Fix delay-analyser interactive
  csfieldguide/static/interactives/delay-analyser/js/delay-analyser.js
Labels: interactives

#738 Add unexpected-error interactive to replace image in HCI chapter
  csfieldguide/chapters/content/en/human-computer-interaction/sections/usability-heuristics.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/templates/interactives/unexpected-error.html
Labels: interactives, internationalization

#739 Fix bug where section numbers weren't correct
  csfieldguide/chapters/content/en/algorithms/algorithms.md
  csfieldguide/chapters/content/en/artificial-intelligence/artificial-intelligence.md
  csfieldguide/chapters/content/en/coding-compression/coding-compression.md
  csfieldguide/chapters/content/en/coding-encryption/coding-encryption.md
  csfieldguide/chapters/content/en/coding-error-control/coding-error-control.md
  csfieldguide/chapters/content/en/coding-introduction/coding-introduction.md
  csfieldguide/chapters/content/en/complexity-and-tractability/complexity-and-tractability.md
  csfieldguide/chapters/content/en/computer-graphics/computer-graphics.md
  csfieldguide/chapters/content/en/computer-vision/computer-vision.md
  csfieldguide/chapters/content/en/data-representation/data-representation.md
  csfieldguide/chapters/content/en/formal-languages/formal-languages.md
  csfieldguide/chapters/content/en/human-computer-interaction/human-computer-interaction.md
  csfieldguide/chapters/content/en/introduction/introduction.md
  csfieldguide/chapters/content/en/network-communication-protocols/network-communication-protocols.md
  csfieldguide/chapters/content/en/programming-languages/programming-languages.md
  csfieldguide/chapters/content/en/software-engineering/software-engineering.md
  csfieldguide/chapters/management/commands/_ChapterSectionsLoader.py
  csfieldguide/chapters/management/commands/_ChaptersLoader.py
  csfieldguide/templates/chapters/chapter.html
  csfieldguide/templates/chapters/chapter_section.html
  csfieldguide/utils/BaseLoader.py
  csfieldguide/utils/custom_converter_templates/chapter-section/heading.html
  csfieldguide/utils/custom_converter_templates/chapter/heading.html
Labels: backend, bug, frontend

#737 Add alarm-timer interactive to replace image in HCI chapter
  csfieldguide/chapters/content/en/human-computer-interaction/sections/usability-heuristics.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/templates/interactives/alarm-timer.html
Labels: interactives, internationalization

#740 Add confusing-error interactive to replace image in HCI chapter
  csfieldguide/chapters/content/en/human-computer-interaction/sections/usability-heuristics.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/static/interactives/confusing-error/img/icons8-data-backup-100.png
  csfieldguide/static/interactives/confusing-error/img/icons8-data-backup-50.png
  csfieldguide/static/scss/website.scss
  csfieldguide/templates/base.html
  csfieldguide/templates/interactives/confusing-error.html
Labels: interactives, internationalization
