Repository uccser/cs-field-guide, pull requests merged in 2019-02, with the labels that each got.

#861 Fix bug where interactive thumbnails are not deployed.
  infrastructure/dev-deploy/deploy-static-files.sh
Labels: bug, frontend

#860 Prevent back of binary cards showing through once flipped
  csfieldguide/static/interactives/binary-cards/css/binary-cards.css
Labels: bug, frontend

#851 Recreate MIPS Assembler and Simulator interactives in JS
  csfieldguide/chapters/content/en/programming-languages/sections/machine-code.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/static/interactives/mips-assembler/README.md
  csfieldguide/static/interactives/mips-assembler/css/mips-assembler.css
  csfieldguide/static/interactives/mips-assembler/css/mips-assembler.scss
  csfieldguide/static/interactives/mips-assembler/index.php
  csfieldguide/static/interactives/mips-assembler/js/mips-assembler.js
  csfieldguide/static/interactives/mips-simulator/README.md
  csfieldguide/static/interactives/mips-simulator/css/mips-simulator.css
  csfieldguide/static/interactives/mips-simulator/css/mips-simulator.scss
  csfieldguide/static/interactives/mips-simulator/index.php
  csfieldguide/static/interactives/mips-simulator/js/mips-simulator.js
  csfieldguide/templates/interactives/mips-assembler.html
  csfieldguide/templates/interactives/mips-simulator.html
Labels: interactives, internationalization

#874 Fix names of MIPS interactives in appendix
  csfieldguide/interactives/content/en/interactives.yaml
Labels: frontend, interactives

#864 Add Helper Function as Separate File
  csfieldguide/static/interactives/base-calculator/js/base-calculator.js
  csfieldguide/static/interactives/binary-cards/js/binary-cards.js
  csfieldguide/static/interactives/colour-matcher/js/colour-matcher.js
  csfieldguide/static/interactives/fsa-box/js/fsa-box.js
  csfieldguide/static/interactives/fsa-light/js/fsa-light.js
  csfieldguide/static/interactives/image-bit-comparer/js/image-bit-comparer.js
  csfieldguide/static/interactives/jpeg-compression/js/jpeg-compression.js
  csfieldguide/static/interactives/mips-simulator/js/mips-simulator.js
  csfieldguide/static/interactives/ncea-guide-selector/js/ncea-guide-selector.js
  csfieldguide/static/interactives/parity/js/parity.js
  csfieldguide/static/interactives/regular-expression-search/js/regular-expression-search.js
  csfieldguide/static/interactives/rsa-jsencrypt/js/rsa-jsencrypt.js
  csfieldguide/static/interactives/rsa-no-padding/js/rsa-jsencrypt-no-padding.js
  csfieldguide/static/js/third-party/url-parameters.js
Labels: backend, interactives

#872 Add URL redirects for URLs on the previous site.
  csfieldguide/appendices/content/en/appendices.yaml
  csfieldguide/appendices/content/structure/appendices.yaml
  csfieldguide/appendices/management/commands/_AppendicesLoader.py
  csfieldguide/appendices/management/commands/loadappendices.py
  csfieldguide/appendices/migrations/0007_auto_20190209_2354.py
  csfieldguide/appendices/models.py
  csfieldguide/appendices/search_indexes.py
  csfieldguide/appendices/translation.py
  csfieldguide/appendices/urls.py
  csfieldguide/appendices/views.py
  csfieldguide/chapters/urls.py
  csfieldguide/general/urls.py
  csfieldguide/search/management/commands/rebuild_index.py
  csfieldguide/templates/appendices/index.html
  csfieldguide/templates/appendices/sitemap.html
  csfieldguide/templates/base.html
  csfieldguide/templates/search/indexes/appendices/appendix_text.txt
  csfieldguide/templates/search/indexes/appendices/subappendix_text.txt
  csfieldguide/templates/search/result/appendix.html
  csfieldguide/templates/search/result/subappendix.html
  csfieldguide/tests/appendices/AppendicesTestDataGenerator.py
  csfieldguide/tests/appendices/urls/test_about_url.py
  csfieldguide/tests/appendices/urls/test_apcsp_url.py
  csfieldguide/tests/appendices/urls/test_appendices_url.py
  csfieldguide/tests/appendices/urls/test_contributors_url.py
  csfieldguide/tests/appendices/urls/test_curriculum-guides_url.py
  csfieldguide/tests/appendices/urls/test_ncea_url.py
  csfieldguide/tests/appendices/urls/test_sitemap_url.py
  csfieldguide/tests/appendices/views/test_about_view.py
  csfieldguide/tests/appendices/views/test_apcsp_view.py
  csfieldguide/tests/appendices/views/test_appendices_list_view.py
  csfieldguide/tests/appendices/views/test_contributors_view.py
  csfieldguide/tests/appendices/views/test_curriculum_guides_view.py
  csfieldguide/tests/appendices/views/test_ncea_view.py
  csfieldguide/tests/appendices/views/test_sitemap_view.py
  csfieldguide/tests/search/management/test_rebuild_index_command.py
  csfieldguide/tests/search/views/test_index_view.py
  docs/source/changelog.rst
  docs/source/index.rst
  text/en/further-information/releases.md
Labels: backend

#876 Define the absolute URL for Chapter and Chapter Section objects
  csfieldguide/chapters/models.py
Labels: backend

#888 Fix spelling of hexadecimal in colour matcher interactive
  csfieldguide/static/interactives/colour-matcher/README.md
  csfieldguide/static/interactives/colour-matcher/js/colour-matcher.js
  csfieldguide/static/interactives/colour-matcher/scss/colour-matcher.scss
  csfieldguide/static/interactives/mips-assembler/README.md
  csfieldguide/static/interactives/mips-simulator/README.md
  csfieldguide/static/interactives/mips-simulator/css/mips-simulator.scss
  csfieldguide/templates/interactives/colour-matcher.html
Labels: interactives
