Repository uccser/cs-field-guide, pull requests merged in 2019-06, with the labels that each got.

#985 Minor content fix
  csfieldguide/chapters/content/en/software-engineering/sections/analysis.md
Labels: content: chapters

#984 Remove md5-hash and references to it
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/package.json
  csfieldguide/static/interactives/md5-hash/README.md
  csfieldguide/static/interactives/md5-hash/css/md5-hash.scss
  csfieldguide/static/interactives/md5-hash/index.html
  csfieldguide/static/interactives/md5-hash/js/md5-hash-script.js
  csfieldguide/static/interactives/md5-hash/package.json
  text/en/further-information/included-files.md
Labels: interactives

#994 Fix errors in Run Length Encoding Interactive
  csfieldguide/static/interactives/run-length-encoding/README.md
  csfieldguide/static/interactives/run-length-encoding/js/run-length-encoding.js
  csfieldguide/templates/interactives/run-length-encoding.html
Labels: bug, interactives

#993 Add 'appendix' heading to remaining appendices
  csfieldguide/templates/appendices/curriculum-guides/index.html
  csfieldguide/templates/chapters/glossary.html
  csfieldguide/templates/interactives/index.html
Labels: frontend

#986 Remove broken link
  csfieldguide/chapters/content/en/network-communication-protocols/sections/further-reading.md
Labels: bug, content: chapters

#721 Ensure headings use consistent capitalisation
  csfieldguide/chapters/content/en/algorithms/algorithms.md
  csfieldguide/chapters/content/en/algorithms/sections/further-reading.md
  csfieldguide/chapters/content/en/algorithms/sections/searching.md
  csfieldguide/chapters/content/en/algorithms/sections/sorting.md
  csfieldguide/chapters/content/en/algorithms/sections/the-whole-story.md
  csfieldguide/chapters/content/en/algorithms/sections/what-makes-an-algorithm.md
  csfieldguide/chapters/content/en/artificial-intelligence/sections/chatterbots-and-the-turing-test.md
  csfieldguide/chapters/content/en/coding-compression/sections/huffman-coding.md
  csfieldguide/chapters/content/en/coding-compression/sections/run-length-encoding.md
  csfieldguide/chapters/content/en/coding-encryption/coding-encryption.md
  csfieldguide/chapters/content/en/coding-encryption/sections/substitution-ciphers.md
  csfieldguide/chapters/content/en/coding-encryption/sections/the-key-distribution-problem.md
  csfieldguide/chapters/content/en/coding-error-control/coding-error-control.md
  csfieldguide/chapters/content/en/coding-introduction/sections/further-reading.md
  csfieldguide/chapters/content/en/complexity-and-tractability/sections/bin-packing-problem.md
  csfieldguide/chapters/content/en/computer-graphics/sections/drawing-lines-and-circles.md
  csfieldguide/chapters/content/en/computer-graphics/sections/further-reading.md
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
  csfieldguide/chapters/content/en/computer-graphics/sections/the-whole-story.md
  csfieldguide/chapters/content/en/computer-vision/sections/lights-camera-action.md
  csfieldguide/chapters/content/en/data-representation/data-representation.md
  csfieldguide/chapters/content/en/data-representation/sections/getting-started.md
  csfieldguide/chapters/content/en/data-representation/sections/numbers.md
  csfieldguide/chapters/content/en/formal-languages/sections/finite-state-automata.md
  csfieldguide/chapters/content/en/formal-languages/sections/further-reading.md
  csfieldguide/chapters/content/en/formal-languages/sections/regular-expressions.md
  csfieldguide/chapters/content/en/glossary/binary-number-system.md
  csfieldguide/chapters/content/en/glossary/binary-search.md
  csfieldguide/chapters/content/en/glossary/caesar-cipher.md
  csfieldguide/chapters/content/en/glossary/chomsky-hierarchy.md
  csfieldguide/chapters/content/en/glossary/decimal-number-system.md
  csfieldguide/chapters/content/en/glossary/digital-signature.md
  csfieldguide/chapters/content/en/glossary/finite-state-automaton.md
  csfieldguide/chapters/content/en/glossary/finite-state-machine.md
  csfieldguide/chapters/content/en/glossary/frequency-analysis-attack.md
  csfieldguide/chapters/content/en/glossary/human-computer-interaction.md
  csfieldguide/chapters/content/en/glossary/intelligent-systems.md
  csfieldguide/chapters/content/en/glossary/known-plain-text-attack.md
  csfieldguide/chapters/content/en/glossary/linear-complexity.md
  csfieldguide/chapters/content/en/glossary/nielsons-heuristics.md
  csfieldguide/chapters/content/en/glossary/plain-text.md
  csfieldguide/chapters/content/en/glossary/redundant-bits.md
  csfieldguide/chapters/content/en/glossary/slope.md
  csfieldguide/chapters/content/en/glossary/substitution-cipher.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/interface-usability.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/usability-heuristics.md
  csfieldguide/chapters/content/en/network-communication-protocols/sections/further-reading.md
  csfieldguide/chapters/content/en/network-communication-protocols/sections/the-whole-story.md
  csfieldguide/chapters/content/en/network-communication-protocols/sections/transport-layer-protocols.md
  csfieldguide/chapters/content/en/programming-languages/sections/further-reading.md
  csfieldguide/chapters/content/en/software-engineering/sections/analysis.md
  csfieldguide/chapters/content/en/software-engineering/sections/further-reading.md
Labels: content: chapters, content: curriculum guides, content: other, review needed

#978 Add keyboard manipulation of sliders for colour mixer interactives
  csfieldguide/static/interactives/cmy-mixer/js/cmy-mixer.js
  csfieldguide/static/interactives/cmy-mixer/package.json
  csfieldguide/static/interactives/colour-matcher/js/colour-matcher.js
  csfieldguide/static/interactives/colour-matcher/package.json
  csfieldguide/static/interactives/rgb-mixer/js/rgb-mixer.js
  csfieldguide/static/interactives/rgb-mixer/package.json
  csfieldguide/templates/interactives/cmy-mixer.html
  csfieldguide/templates/interactives/rgb-mixer.html
Labels: interactives, user feedback

#982 scale down images
  csfieldguide/static/img/chapters/android-alarm-9am.png
  csfieldguide/static/img/chapters/ariane-rocket-cartoon.png
  csfieldguide/static/img/chapters/banana-with-salt-and-pepper-noise.jpg
  csfieldguide/static/img/chapters/context-free-tree-screenshot.png
  csfieldguide/static/img/chapters/corrupted-image.jpg
  csfieldguide/static/img/chapters/dolphin-triangle-mesh.png
  csfieldguide/static/img/chapters/finite-state-automata-spin-speeds.png
  csfieldguide/static/img/chapters/fruit-bowl-photo-with-canny-edge-detection.png
  csfieldguide/static/img/chapters/fruit-bowl-photo.jpg
  csfieldguide/static/img/chapters/jflap-tree-leaves-l-systems-screenshot.png
  csfieldguide/static/img/chapters/no-smoking-sign-translated.png
  csfieldguide/static/img/chapters/no-smoking-sign.jpg
  csfieldguide/static/img/chapters/stacks-of-code-cartoon.png
  csfieldguide/static/img/chapters/steep-sign-translated.jpg
  csfieldguide/static/img/chapters/xkcd-good-code.png
Labels: backend, content: chapters

#977 Open links to interactives in a new tab
  csfieldguide/templates/interactives/utils/interactive-link.html
Labels: backend, interactives, user feedback

#997 Improve Sorting Algorithms interactive from user feedback
  csfieldguide/static/interactives/sorting-algorithms/README.md
  csfieldguide/static/interactives/sorting-algorithms/js/sorting-algorithms.js
  csfieldguide/static/interactives/sorting-algorithms/scss/sorting-algorithms.scss
  csfieldguide/templates/interactives/sorting-algorithms.html
Labels: interactives, user feedback

#1005 add configuration options to pixel viewer
  csfieldguide/static/interactives/pixel-viewer/README.md
  csfieldguide/templates/interactives/pixel-viewer.html
Labels: interactives

#1001 1001 ways to Recreate dot-combinations as interactive
  csfieldguide/chapters/content/en/data-representation/sections/getting-started.md
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/static/interactives/dot-combinations/README.md
  csfieldguide/static/interactives/dot-combinations/js/dot-combinations.js
  csfieldguide/static/interactives/dot-combinations/scss/dot-combinations.scss
  csfieldguide/templates/interactives/dot-combinations.html
Labels: interactives, uninteractives

#1004 Highlight glossary terms appropriately.
  csfieldguide/chapters/views.py
  csfieldguide/static/js/website.js
  csfieldguide/static/scss/website.scss
  csfieldguide/templates/base.html
  csfieldguide/tests/chapters/views/test_glossary_view.py
  csfieldguide/utils/custom_converter_templates/glossary-link.html
Labels: bug, content: chapters, frontend

#1008 Remove docker volumes when the ./csfg end command is run
  csfg
Labels: bug, infrastructure

#1006 Align chapter section buttons better if they don't fit in one line
  csfieldguide/static/scss/website.scss
  csfieldguide/templates/chapters/chapter_section.html
Labels: frontend

#995 Create persona carousel interactive uninteractive
  csfieldguide/chapters/content/en/human-computer-interaction/sections/user-experience.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/static/img/chapters/bevan.jpg
  csfieldguide/static/interactives/persona-carousel/README.md
  csfieldguide/static/interactives/persona-carousel/img/bevan.jpg
  csfieldguide/static/interactives/persona-carousel/img/kate.jpg
  csfieldguide/static/interactives/persona-carousel/img/sam.jpg
  csfieldguide/static/interactives/persona-carousel/js/persona-carousel.js
  csfieldguide/static/interactives/persona-carousel/scss/persona-carousel.scss
  csfieldguide/templates/interactives/persona-carousel.html
Labels: content: chapters, interactives

#990 UX Section
  csfieldguide/chapters/content/en/glossary/user-experience.md
  csfieldguide/chapters/content/en/glossary/user-story.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/further-reading.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/user-experience.md
  csfieldguide/chapters/content/structure/human-computer-interaction/sections/sections.yaml
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/static/img/chapters/affinity-diagrams.png
  csfieldguide/static/img/chapters/sleep-app-site-map.png
  csfieldguide/static/img/chapters/sleep-app-wireframes.png
  csfieldguide/static/interactives/persona-carousel/README.md
  csfieldguide/static/interactives/persona-carousel/img/bevan.jpg
  csfieldguide/static/interactives/persona-carousel/img/kate.jpg
  csfieldguide/static/interactives/persona-carousel/img/sam.jpg
  csfieldguide/static/interactives/persona-carousel/js/persona-carousel.js
  csfieldguide/static/interactives/persona-carousel/scss/persona-carousel.scss
  csfieldguide/templates/interactives/persona-carousel.html
Labels: author, content: chapters, review needed

#1013 Add proper singular form to dot-combinations interactive text
  csfieldguide/static/interactives/dot-combinations/js/dot-combinations.js
  csfieldguide/templates/interactives/dot-combinations.html
Labels: interactives

#1012 Format heading numbers
  csfieldguide/static/img/third-party/icons8-link-26.png
  csfieldguide/static/scss/website.scss
  csfieldguide/tests/utils/errors/test_DuplicateHeadingFoundInMarkdownFileError.py
  csfieldguide/tests/utils/test_check_heading_tree.py
  csfieldguide/utils/BaseLoader.py
  csfieldguide/utils/check_heading_tree.py
  csfieldguide/utils/custom_converter_templates/chapter-section/heading.html
  csfieldguide/utils/custom_converter_templates/chapter/heading.html
  csfieldguide/utils/errors/DuplicateHeadingFoundInMarkdownFileError.py
Labels: frontend

#1022 Revert syntax for translated Verto tags in Spanish
  csfieldguide/chapters/content/es/human-computer-interaction/human-computer-interaction.md
  csfieldguide/chapters/content/es/human-computer-interaction/sections/the-whole-story.md
Labels: bug

#1023 Render plain text codeblocks with no syntax highlighting
  csfieldguide/chapters/content/en/algorithms/algorithms.md
  csfieldguide/chapters/content/en/coding-compression/sections/general-purpose.md
  csfieldguide/chapters/content/en/coding-compression/sections/huffman-coding.md
  csfieldguide/chapters/content/en/coding-compression/sections/run-length-encoding.md
  csfieldguide/chapters/content/en/coding-encryption/sections/substitution-ciphers.md
  csfieldguide/chapters/content/en/coding-encryption/sections/the-key-distribution-problem.md
  csfieldguide/chapters/content/en/data-representation/data-representation.md
  csfieldguide/chapters/content/en/data-representation/sections/numbers.md
  csfieldguide/chapters/content/en/data-representation/sections/program-instructions.md
  csfieldguide/chapters/content/en/data-representation/sections/text.md
  csfieldguide/chapters/content/en/formal-languages/formal-languages.md
  csfieldguide/chapters/content/en/formal-languages/sections/getting-started.md
  csfieldguide/chapters/content/en/formal-languages/sections/regular-expressions.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/user-experience.md
  csfieldguide/chapters/content/en/network-communication-protocols/sections/application-level-protocols.md
  csfieldguide/chapters/content/en/network-communication-protocols/sections/the-whole-story.md
  csfieldguide/chapters/content/en/programming-languages/programming-languages.md
  csfieldguide/chapters/content/en/programming-languages/sections/a-babel-of-programming-languages.md
Labels: content: chapters, frontend

#998 Update documentation
  csfieldguide/appendices/content/structure/appendices.yaml
  csfieldguide/appendices/views.py
  csfieldguide/chapters/content/en/glossary/unicode.md
  docs/source/_static/css/custom-styles.css
  docs/source/_static/html_snippets/chapters_content_directory_tree_only_yaml.html
  docs/source/_static/html_snippets/markdown_example_blockquote.html
  docs/source/_static/html_snippets/markdown_example_line_break.html
  docs/source/_static/html_snippets/project_directory_tree.html
  docs/source/_static/img/database_overview_diagram.png
  docs/source/_static/img/math_markdown_example.png
  docs/source/_static/img/teacher_note.png
  docs/source/_static/img/translation_pipeline_overview.png
  docs/source/_templates/layout.html
  docs/source/author/chapters.rst
  docs/source/author/content_style_guide.rst
  docs/source/author/index.rst
  docs/source/author/translations.rst
  docs/source/author/understanding_configuration_files.rst
  docs/source/author/writing_guide.rst
  docs/source/author/writing_philosophy.rst
  docs/source/changelog.rst
  docs/source/developer/appendices.rst
  docs/source/developer/chapters.rst
  docs/source/developer/deployment.rst
  docs/source/developer/developer_philosophy.rst
  docs/source/developer/django_setup.rst
  docs/source/developer/general.rst
  docs/source/developer/index.rst
  docs/source/developer/interactives.rst
  docs/source/developer/search.rst
  docs/source/developer/static_files.rst
  docs/source/developer/test_suite.rst
  docs/source/developer/translation.rst
  docs/source/developer/translation_infrastructure.rst
  docs/source/developer/website_design.rst
  docs/source/getting_started/code_of_conduct.rst
  docs/source/getting_started/contributing_guide.rst
  docs/source/getting_started/helper_commands.rst
  docs/source/getting_started/index.rst
  docs/source/getting_started/installation.rst
  docs/source/getting_started/project_structure.rst
  docs/source/index.rst
  docs/source/other/faq.rst
  docs/source/other/setup_virtual_machine.rst
  docs/source/troubleshooting.rst
Labels: documentation, help wanted

#1025 Show thumbnails for all languages
  csfieldguide/make-interactive-thumbnails.js
  csfieldguide/templates/interactives/utils/interactive-link.html
Labels: backend, frontend

#1026 Update homepage icons to avoid using Google Classroom icon
  csfieldguide/static/img/chapters/icons8-book-shelf-96.png
  csfieldguide/static/img/chapters/icons8-google-classroom-96.png
  csfieldguide/static/img/chapters/icons8-natural-user-interface-2-96.png
  csfieldguide/static/img/chapters/icons8-source-code-96.png
  csfieldguide/static/scss/website.scss
  csfieldguide/static/svg/icons8-book-shelf.svg
  csfieldguide/static/svg/icons8-classroom-modified.svg
  csfieldguide/static/svg/icons8-natural-user-interface-2.svg
  csfieldguide/static/svg/icons8-source-code.svg
  csfieldguide/templates/general/index.html
Labels: frontend

#1018 Add glossary terms to chapter content
  csfieldguide/chapters/content/en/algorithms/algorithms.md
  csfieldguide/chapters/content/en/algorithms/sections/searching.md
  csfieldguide/chapters/content/en/algorithms/sections/sorting.md
  csfieldguide/chapters/content/en/algorithms/sections/the-whole-story.md
  csfieldguide/chapters/content/en/algorithms/sections/what-makes-an-algorithm.md
  csfieldguide/chapters/content/en/data-representation/data-representation.md
  csfieldguide/chapters/content/en/data-representation/sections/getting-started.md
  csfieldguide/chapters/content/en/data-representation/sections/images-and-colours.md
  csfieldguide/chapters/content/en/data-representation/sections/numbers.md
  csfieldguide/chapters/content/en/data-representation/sections/program-instructions.md
  csfieldguide/chapters/content/en/data-representation/sections/text.md
  csfieldguide/chapters/content/en/data-representation/sections/the-whole-story.md
  csfieldguide/chapters/content/en/glossary/adage.md
  csfieldguide/chapters/content/en/glossary/big-o.md
  csfieldguide/chapters/content/en/glossary/binary-search.md
  csfieldguide/chapters/content/en/glossary/bubble-sort.md
  csfieldguide/chapters/content/en/glossary/compression.md
  csfieldguide/chapters/content/en/glossary/decimal-number-system.md
  csfieldguide/chapters/content/en/glossary/heuristic.md
  csfieldguide/chapters/content/en/glossary/insertion-sort.md
  csfieldguide/chapters/content/en/glossary/linear-search.md
  csfieldguide/chapters/content/en/glossary/pivot.md
  csfieldguide/chapters/content/en/glossary/program.md
  csfieldguide/chapters/content/en/glossary/programming-language.md
  csfieldguide/chapters/content/en/glossary/quicksort.md
  csfieldguide/chapters/content/en/glossary/selection-sort.md
  csfieldguide/chapters/content/en/human-computer-interaction/human-computer-interaction.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/the-whole-story.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/usability-heuristics.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/users-and-tasks.md
  csfieldguide/chapters/content/en/introduction/introduction.md
  csfieldguide/chapters/content/en/introduction/sections/how-to-use-this-guide.md
  csfieldguide/chapters/content/en/introduction/sections/programming.md
  csfieldguide/chapters/content/en/programming-languages/programming-languages.md
  csfieldguide/chapters/content/en/programming-languages/sections/machine-code.md
  csfieldguide/utils/custom_converter_templates/button-link.html
Labels: content: chapters, frontend

#1019 Several updates to image-bit-comparer interactive
  csfieldguide/static/interactives/image-bit-comparer/README.md
  csfieldguide/static/interactives/image-bit-comparer/img/faces.jpg
  csfieldguide/static/interactives/image-bit-comparer/img/person.jpg
  csfieldguide/static/interactives/image-bit-comparer/js/image-bit-comparer.js
  csfieldguide/templates/interactives/image-bit-comparer.html
Labels: bug, interactives, suggestion

#1028 Redirect old links for interactives to 3.0 interactives
  csfieldguide/interactives/urls.py
Labels: backend

#1031 Use button-link templates for downloadable files
  csfieldguide/chapters/content/en/coding-compression/sections/image-compression-using-jpeg.md
  csfieldguide/chapters/content/en/complexity-and-tractability/sections/tractability.md
  csfieldguide/chapters/content/en/data-representation/sections/images-and-colours.md
Labels: content: chapters

#1034 Add student mode button to homepage if in teacher mode
  csfieldguide/templates/general/index.html
Labels: frontend, suggestion

#1036 Update content style guide
  docs/source/author/content_style_guide.rst
Labels: documentation

#1038 Reformat link-items to nav-pill style
  csfieldguide/static/scss/_link-item.scss
  csfieldguide/templates/chapters/index.html
  csfieldguide/templates/interactives/utils/interactive-link.html
  csfieldguide/utils/custom_converter_templates/interactive.html
Labels: frontend

#1039 Add links to Polish version of 2.6.0
  csfieldguide/templates/base.html
Labels: internationalization

#1042 Remove generator directory
  generateguide.py
  generator/README.md
  generator/files.py
  generator/generator-settings.conf
  generator/glossary.py
  generator/html-templates.conf
  generator/logging.conf
  generator/markdownsection.py
  generator/print_media.py
  generator/regex-list.conf
  generator/systemconstants.py
  generator/systemfunctions.py
  generator/websitegenerator.py
Labels: backend

#1041 Add link to documentation from appendices
  csfieldguide/templates/base.html
Labels: documentation

#1047 Add temporary fix for deploying static files
  infrastructure/install_google_cloud_sdk.sh
Labels: bug, infrastructure, urgent

#1045 Fix several content errors
  csfieldguide/chapters/content/en/computer-graphics/sections/drawing-lines-and-circles.md
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
  csfieldguide/chapters/content/en/formal-languages/sections/finite-state-automata.md
  csfieldguide/chapters/content/en/introduction/sections/further-reading.md
  csfieldguide/chapters/content/en/programming-languages/sections/whats-the-big-picture.md
  csfieldguide/chapters/content/en/software-engineering/sections/agile-software-development.md
Labels: content: chapters, user feedback

#1055 Minor changelog fixes
  docs/source/changelog.rst
Labels: documentation
