Repository uccser/cs-field-guide, pull requests merged in 2019-09, with the labels that each got.

#1136 Add glossary entries for AI chapter
  csfieldguide/chapters/content/en/artificial-intelligence/artificial-intelligence.md
  csfieldguide/chapters/content/en/artificial-intelligence/sections/chatterbots-and-the-turing-test.md
  csfieldguide/chapters/content/en/artificial-intelligence/sections/whats-the-big-picture.md
  csfieldguide/chapters/content/en/glossary/artificial-intelligence.md
  csfieldguide/chapters/content/en/glossary/intelligent-systems.md
Labels: content: chapters

#1135 Rebuild matrix simplifier interactive for Django system
  LICENCE-THIRD-PARTY
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/package.json
  csfieldguide/static/interactives/matrix-simplifier/README.md
  csfieldguide/static/interactives/matrix-simplifier/js/matrix-simplifier.js
  csfieldguide/static/interactives/matrix-simplifier/package.json
  csfieldguide/static/interactives/matrix-simplifier/scss/matrix-simplifier.scss
  csfieldguide/templates/base.html
  csfieldguide/templates/interactives/matrix-simplifier.html
  third-party-licences/mathjax.txt
  third-party-licences/sprintf-js.txt
Labels: interactives, internationalization

#1142 Hotfix 3.0.5
  csfieldguide/config/__init__.py
  docs/source/changelog.rst
Labels: bug

#1140 Content fixes and add glossaries for Complexity and Tractability
  csfieldguide/chapters/content/en/complexity-and-tractability/complexity-and-tractability.md
  csfieldguide/chapters/content/en/complexity-and-tractability/sections/algorithms-problems-and-speed-limits.md
  csfieldguide/chapters/content/en/complexity-and-tractability/sections/bin-packing-problem.md
  csfieldguide/chapters/content/en/complexity-and-tractability/sections/the-travelling-salesman-problem.md
  csfieldguide/chapters/content/en/complexity-and-tractability/sections/the-whole-story.md
  csfieldguide/chapters/content/en/complexity-and-tractability/sections/whats-the-big-picture.md
  csfieldguide/chapters/content/en/glossary/asymptotic-complexity.md
  csfieldguide/chapters/content/en/glossary/asymptotic.md
  csfieldguide/chapters/content/en/glossary/extrapolation.md
  csfieldguide/chapters/content/en/glossary/greedy-algorithm.md
  csfieldguide/chapters/content/en/glossary/heuristic.md
  csfieldguide/chapters/content/en/glossary/interpolation.md
  csfieldguide/chapters/content/en/glossary/permutation.md
  csfieldguide/chapters/content/en/glossary/selection-sort.md
Labels: content: chapters

#1144 Add glossary entries for Computer Graphics Chapter
  csfieldguide/chapters/content/en/computer-graphics/computer-graphics.md
  csfieldguide/chapters/content/en/computer-graphics/sections/drawing-lines-and-circles.md
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
  csfieldguide/chapters/content/en/computer-graphics/sections/whats-the-big-picture.md
  csfieldguide/chapters/content/en/glossary/cartesian-coordinate-system.md
  csfieldguide/chapters/content/en/glossary/computer-graphics.md
  csfieldguide/chapters/content/en/glossary/graphics-transform.md
  csfieldguide/chapters/content/en/glossary/graphics.md
  csfieldguide/chapters/content/en/glossary/rotation.md
  csfieldguide/chapters/content/en/glossary/scale.md
  csfieldguide/chapters/content/en/glossary/translation.md
Labels: content: chapters

#1143 Update versioning system description to reflect its use in practice
  docs/source/changelog.rst
Labels: documentation
