Repository uccser/cs-field-guide, pull requests merged in 2019-11, with the labels that each got.

#1185 Recreate Data Bias interactive
  LICENCE-THIRD-PARTY
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/package.json
  csfieldguide/static/interactives/data-bias/README.md
  csfieldguide/static/interactives/data-bias/css/data-bias.scss
  csfieldguide/static/interactives/data-bias/js/data-bias.js
  csfieldguide/static/interactives/data-bias/package.json
  csfieldguide/templates/appendices/contributors.html
  csfieldguide/templates/interactives/data-bias.html
  third-party-licences/bias-in-big-data.txt
Labels: interactives

#1183 Recreate Data Representation interactive for Field Guide
  LICENCE-THIRD-PARTY
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/package.json
  csfieldguide/static/interactives/data-visualisation/README.md
  csfieldguide/static/interactives/data-visualisation/js/data-visualisation.js
  csfieldguide/static/interactives/data-visualisation/package.json
  csfieldguide/static/interactives/data-visualisation/scss/data-visualisation.scss
  csfieldguide/templates/appendices/contributors.html
  csfieldguide/templates/interactives/data-visualisation.html
  third-party-licences/data-visualization.txt
Labels: interactives

#1195 Fix formatting for mathematical equations in algorithms chapter.
  csfieldguide/chapters/content/en/algorithms/sections/sorting.md
Labels: bug, content: chapters

#1187 Use default settings for split health checks.
  csfieldguide/config/urls.py
  csfieldguide/config/views.py
  csfieldguide/tests/config/urls/__init__.py
  csfieldguide/tests/config/urls/test_health_check_url.py
  infrastructure/dev-deploy/app-dev.yaml
  infrastructure/prod-deploy/app-prod.yaml
Labels: infrastructure

#1200 Resolve some issues with CG chapter
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
Labels: content: chapters
