Repository uccser/cs-field-guide, pull requests merged in 2019-04, with the labels that each got.

#912 Change app folder permissions
  infrastructure/nginx/Dockerfile
Labels: infrastructure

#897 Phase 2: Activate Formal Languages Chapter
  LICENCE-THIRD-PARTY
  csfieldguide/chapters/content/en/formal-languages/sections/grammars-and-parsing.md
  csfieldguide/chapters/content/en/formal-languages/sections/regular-expressions.md
  csfieldguide/chapters/content/en/formal-languages/sections/the-whole-story.md
  csfieldguide/chapters/content/structure/formal-languages/sections/sections.yaml
  csfieldguide/chapters/content/structure/structure.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/static/img/chapters/finite-state-automata-aabb-trap.png
  csfieldguide/static/img/chapters/finite-state-automata-aabb.png
  csfieldguide/static/interactives/nfa-guesser/README.md
  csfieldguide/static/interactives/nfa-guesser/css/nfa-guesser.scss
  csfieldguide/static/interactives/regular-expression-search/README.md
  csfieldguide/static/interactives/regular-expression-search/css/regular-expression-search.scss
  csfieldguide/static/interactives/regular-expression-search/js/regular-expression-search.js
  csfieldguide/templates/interactives/regular-expression-search.html
  third-party-licences/codemirror.txt
Labels: content: chapters, frontend, interactives, internationalization

#914 Minor Sentence Structure Reworks and Adding Sources
  csfieldguide/chapters/content/en/software-engineering/software-engineering.md
Labels: content: chapters

#892 Phase 1: Activate Formal Languages Chapter
  LICENCE-THIRD-PARTY
  csfieldguide/chapters/content/en/formal-languages/formal-languages.md
  csfieldguide/chapters/content/en/formal-languages/sections/finite-state-automata.md
  csfieldguide/chapters/content/en/formal-languages/sections/getting-started.md
  csfieldguide/chapters/content/structure/formal-languages/sections/sections.yaml
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/static/img/chapters/finite-state-automata-binary-multiples.png
  csfieldguide/static/img/chapters/finite-state-automata-light-switch-example.png
  csfieldguide/static/img/chapters/finite-state-automata-microwave-example.png
  csfieldguide/static/img/chapters/finite-state-automata-spin-speeds.png
  csfieldguide/static/img/chapters/finite-state-automata-train-example-terminology.png
  csfieldguide/static/img/chapters/fsa-solution-a-multipleof-3.png
  csfieldguide/static/img/chapters/fsa-solution-ab-bstar-ba.png
  csfieldguide/static/img/chapters/fsa-solution-b-alwaysfollows-a.png
  csfieldguide/static/img/chapters/fsa-solution-coins.png
  csfieldguide/static/img/chapters/fsa-solution-endswith-a.png
  csfieldguide/static/img/chapters/fsa-solution-endswith-ab.png
  csfieldguide/static/img/chapters/fsa-solution-even-a.png
  csfieldguide/static/img/chapters/fsa-solution-month-3chars.png
  csfieldguide/static/img/chapters/fsa-solution-month-num.png
  csfieldguide/static/img/chapters/fsa-solution-odd-a.png
  csfieldguide/static/img/chapters/fsa-solution-startswith-a.png
  csfieldguide/static/img/chapters/fsa-solution-weekdays.png
  csfieldguide/static/img/chapters/python-syntax-error.png
  csfieldguide/static/img/chapters/trainsylvania-blank.png
  csfieldguide/static/interactives/fsa-box/README.md
  csfieldguide/static/interactives/fsa-box/css/fsa-box.scss
  csfieldguide/static/interactives/fsa-light/README.md
  csfieldguide/static/interactives/fsa-light/css/fsa-light.scss
  csfieldguide/static/interactives/fsa-terminology/img/finite-state-automata-terminology-accepting.png
  csfieldguide/static/interactives/fsa-terminology/img/finite-state-automata-terminology-alphabet.png
  csfieldguide/static/interactives/fsa-terminology/img/finite-state-automata-terminology-base.png
  csfieldguide/static/interactives/fsa-terminology/img/finite-state-automata-terminology-start.png
  csfieldguide/static/interactives/fsa-terminology/img/finite-state-automata-terminology-transition.png
  csfieldguide/static/interactives/fsa-terminology/scss/fsa-terminology.scss
  csfieldguide/static/interactives/fsa-washing-machine/README.md
  csfieldguide/static/interactives/fsa-washing-machine/css/fsa-washing-machine.scss
  csfieldguide/static/interactives/nfa-guesser/js/nfa-guesser.js
  csfieldguide/static/interactives/python-syntax-error/css/python-syntax-error.scss
  csfieldguide/static/interactives/regular-expression-filter/README.md
  csfieldguide/static/interactives/regular-expression-filter/css/regular-expression-filter.scss
  csfieldguide/static/interactives/trainsylvania-blank/css/trainsylvania-blank.scss
  csfieldguide/static/interactives/trainsylvania-complete/css/trainsylvania-complete.scss
  csfieldguide/static/interactives/trainsylvania-complete/img/thumbnail.png
  csfieldguide/static/interactives/trainsylvania-planner/README.md
  csfieldguide/static/interactives/trainsylvania-planner/css/trainsylvania-planner.scss
  csfieldguide/static/interactives/trainsylvania-planner/js/trainsylvania-planner.js
  csfieldguide/static/interactives/trainsylvania/README.md
  csfieldguide/static/interactives/trainsylvania/css/trainsylvania.scss
  csfieldguide/static/interactives/trainsylvania/js/trainsylvania.js
  csfieldguide/templates/interactives/fsa-terminology.html
  csfieldguide/templates/interactives/python-syntax-error.html
  csfieldguide/templates/interactives/trainsylvania-blank.html
  csfieldguide/templates/interactives/trainsylvania-complete.html
  csfieldguide/third-party-licences/atebitsWords.txt
Labels: content: chapters, frontend, interactives, internationalization
