Repository uccser/cs-field-guide, pull requests merged in 2019-07, with the labels that each got.

#1057 Fix binary cards not flipping back to white on chrome
  csfieldguide/static/interactives/binary-cards/css/binary-cards.scss
Labels: bug

#1060 Many more content fixes
  csfieldguide/chapters/content/en/algorithms/sections/searching.md
  csfieldguide/chapters/content/en/algorithms/sections/the-whole-story.md
  csfieldguide/chapters/content/en/algorithms/sections/whats-the-big-picture.md
  csfieldguide/chapters/content/en/coding-encryption/sections/cryptosystems-used-in-practice.md
  csfieldguide/chapters/content/en/coding-encryption/sections/the-key-distribution-problem.md
  csfieldguide/chapters/content/en/data-representation/sections/images-and-colours.md
  csfieldguide/chapters/content/en/data-representation/sections/whats-the-big-picture.md
  csfieldguide/chapters/content/en/glossary/bozo-search.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/interface-usability.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/users-and-tasks.md
  csfieldguide/chapters/content/en/introduction/sections/how-to-use-this-guide.md
  csfieldguide/chapters/content/en/network-communication-protocols/network-communication-protocols.md
  csfieldguide/chapters/content/en/programming-languages/sections/machine-code.md
Labels: bug, content: chapters

#1062 fix floating elements overlapping subsection divider
  csfieldguide/static/scss/website.scss
Labels: bug, frontend

#1064 Add background to navigation dropdown.
  csfieldguide/static/scss/website.scss
  csfieldguide/templates/base.html
Labels: bug, frontend, urgent

#1067 Add Curriculum Guides to useful links
  csfieldguide/templates/base.html
Labels: frontend

#1058 URL redirects
  csfieldguide/chapters/urls.py
  csfieldguide/curriculum_guides/urls.py
  csfieldguide/general/urls.py
Labels: backend

#1070 Add reshuffle weights button to Sorting Algorithms interactive
  csfieldguide/static/interactives/sorting-algorithms/js/sorting-algorithms.js
  csfieldguide/templates/interactives/sorting-algorithms.html
Labels: interactives, suggestion

#1071 Release 3.0.1
  csfieldguide/chapters/content/en/algorithms/sections/searching.md
  csfieldguide/chapters/content/en/algorithms/sections/the-whole-story.md
  csfieldguide/chapters/content/en/algorithms/sections/whats-the-big-picture.md
  csfieldguide/chapters/content/en/coding-encryption/sections/cryptosystems-used-in-practice.md
  csfieldguide/chapters/content/en/coding-encryption/sections/the-key-distribution-problem.md
  csfieldguide/chapters/content/en/computer-graphics/sections/drawing-lines-and-circles.md
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
  csfieldguide/chapters/content/en/data-representation/sections/images-and-colours.md
  csfieldguide/chapters/content/en/data-representation/sections/numbers.md
  csfieldguide/chapters/content/en/data-representation/sections/text.md
  csfieldguide/chapters/content/en/data-representation/sections/whats-the-big-picture.md
  csfieldguide/chapters/content/en/formal-languages/sections/finite-state-automata.md
  csfieldguide/chapters/content/en/glossary/adage.md
  csfieldguide/chapters/content/en/glossary/bozo-search.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/interface-usability.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/usability-heuristics.md
  csfieldguide/chapters/content/en/human-computer-interaction/sections/users-and-tasks.md
  csfieldguide/chapters/content/en/introduction/sections/further-reading.md
  csfieldguide/chapters/content/en/introduction/sections/how-to-use-this-guide.md
  csfieldguide/chapters/content/en/network-communication-protocols/network-communication-protocols.md
  csfieldguide/chapters/content/en/programming-languages/sections/machine-code.md
  csfieldguide/chapters/content/en/programming-languages/sections/whats-the-big-picture.md
  csfieldguide/chapters/content/en/software-engineering/sections/agile-software-development.md
  csfieldguide/chapters/urls.py
  csfieldguide/config/__init__.py
  csfieldguide/curriculum_guides/urls.py
  csfieldguide/general/urls.py
  csfieldguide/static/interactives/binary-cards/css/binary-cards.scss
  csfieldguide/static/interactives/run-length-encoding/README.md
  csfieldguide/static/interactives/sorting-algorithms/js/sorting-algorithms.js
  csfieldguide/static/scss/website.scss
  csfieldguide/templates/base.html
  csfieldguide/templates/interactives/sorting-algorithms.html
  docs/source/changelog.rst
Labels: bug, content: chapters, documentation, frontend, infrastructure, interactives, urgent

#1078 Center homepage icons on firefox mobile.
  csfieldguide/templates/general/index.html
Labels: frontend

#1080 Reduce length of search bar on mobile
  csfieldguide/templates/base.html
Labels: frontend

#1069 Add curriculum guides CTA and about CTA to homepage
  csfieldguide/static/svg/icons8-books.svg
  csfieldguide/static/svg/icons8-more-info.svg
  csfieldguide/templates/general/index.html
Labels: frontend

#1086 Move 'about this guide' to the about page
  csfieldguide/chapters/content/en/introduction/sections/about-this-guide.md
  csfieldguide/chapters/content/structure/introduction/sections/sections.yaml
  csfieldguide/templates/appendices/about.html
Labels: content: chapters, content: other

#1087 Add interactive to demonstrate limitations of short term memory
  csfieldguide/chapters/content/en/human-computer-interaction/sections/interface-usability.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/static/interactives/picture-memory/README.md
  csfieldguide/static/interactives/picture-memory/js/picture-memory.js
  csfieldguide/static/interactives/picture-memory/scss/picture-memory.scss
  csfieldguide/static/svg/picture-memory/icons8-banana.svg
  csfieldguide/static/svg/picture-memory/icons8-bicycle.svg
  csfieldguide/static/svg/picture-memory/icons8-book.svg
  csfieldguide/static/svg/picture-memory/icons8-cactus.svg
  csfieldguide/static/svg/picture-memory/icons8-calculator.svg
  csfieldguide/static/svg/picture-memory/icons8-camera.svg
  csfieldguide/static/svg/picture-memory/icons8-chair.svg
  csfieldguide/static/svg/picture-memory/icons8-cup.svg
  csfieldguide/static/svg/picture-memory/icons8-duck.svg
  csfieldguide/static/svg/picture-memory/icons8-electric-toothbrush.svg
  csfieldguide/static/svg/picture-memory/icons8-envelope.svg
  csfieldguide/static/svg/picture-memory/icons8-fork-lift.svg
  csfieldguide/static/svg/picture-memory/icons8-glasses.svg
  csfieldguide/static/svg/picture-memory/icons8-guitar.svg
  csfieldguide/static/svg/picture-memory/icons8-school-backpack.svg
  csfieldguide/static/svg/picture-memory/icons8-scissors.svg
  csfieldguide/static/svg/picture-memory/icons8-sheep.svg
  csfieldguide/static/svg/picture-memory/icons8-soccer-ball.svg
  csfieldguide/static/svg/picture-memory/icons8-socks.svg
  csfieldguide/static/svg/picture-memory/icons8-t-shirt.svg
  csfieldguide/static/svg/picture-memory/icons8-teapot.svg
  csfieldguide/templates/interactives/picture-memory.html
Labels: interactives

#1090 Add second short term memory interactive
  csfieldguide/chapters/content/en/human-computer-interaction/sections/interface-usability.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/static/interactives/number-memory/README.md
  csfieldguide/static/interactives/number-memory/js/number-memory.js
  csfieldguide/static/interactives/number-memory/scss/number-memory.scss
  csfieldguide/templates/interactives/number-memory.html
Labels: interactives, suggestion

#1092 Add link to Vox video in computer vision chapter.
  csfieldguide/chapters/content/en/computer-vision/sections/face-recognition.md
Labels: content: chapters

#1074 Improve consistency in chapter section beginnings
  csfieldguide/chapters/content/en/algorithms/sections/further-reading.md
  csfieldguide/chapters/content/en/coding-encryption/sections/substitution-ciphers.md
  csfieldguide/chapters/content/en/coding-error-control/sections/further-reading.md
  csfieldguide/chapters/content/en/computer-graphics/sections/further-reading.md
  csfieldguide/chapters/content/en/computer-vision/sections/further-reading.md
  csfieldguide/chapters/content/en/data-representation/sections/images-and-colours.md
  csfieldguide/chapters/content/en/programming-languages/sections/further-reading.md
  csfieldguide/chapters/content/en/software-engineering/sections/further-reading.md
Labels: content: chapters, frontend, project style, suggestion

#1079 Align and resize homepage logos.
  csfieldguide/static/scss/_homepage.scss
  csfieldguide/templates/base.html
  csfieldguide/templates/general/index.html
Labels: frontend

#1101 Remove references to Picasa
  csfieldguide/chapters/content/en/computer-vision/sections/face-recognition.md
Labels: content: chapters

#1103 Replace brackets in archive links with UTF-8 equivalent.
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
Labels: bug, content: chapters

#1102 Add link to release archive in footer.
  csfieldguide/templates/base.html
Labels: frontend

#1105 Update GCP health checks.
  infrastructure/prod-deploy/app-prod.yaml
Labels: infrastructure

#1104 Fix bug where navbar mobile menu is positioned incorrectly
  csfieldguide/package.json
  csfieldguide/static/scss/_navbar.scss
Labels: bug, urgent

#1117 Improve Regular Expression Filter Interactive
  csfieldguide/static/interactives/regular-expression-filter/css/regular-expression-filter.scss
  csfieldguide/static/interactives/regular-expression-filter/js/regular-expression-filter.js
  csfieldguide/templates/interactives/regular-expression-filter.html
Labels: interactives
