Repository uccser/cs-field-guide, pull requests merged in 2019-10, with the labels that each got.

#1149 Amend content licence to exclude certain properties we don't own
  LICENCE-CONTENT
  README.md
Labels: documentation, urgent

#1123 Rewrite/fix RSA interactives with new encryption library
  LICENCE-THIRD-PARTY
  csfieldguide/chapters/content/en/coding-encryption/sections/the-key-distribution-problem.md
  csfieldguide/chapters/content/en/glossary/ascii.md
  csfieldguide/interactives/content/de/interactives.yaml
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/es/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/package.json
  csfieldguide/static/interactives/rsa-decryption/README.md
  csfieldguide/static/interactives/rsa-decryption/js/rsa-decryption.js
  csfieldguide/static/interactives/rsa-decryption/package.json
  csfieldguide/static/interactives/rsa-decryption/scss/rsa-decryption.scss
  csfieldguide/static/interactives/rsa-encryption/README.md
  csfieldguide/static/interactives/rsa-encryption/js/rsa-encryption.js
  csfieldguide/static/interactives/rsa-encryption/package.json
  csfieldguide/static/interactives/rsa-encryption/scss/rsa-encryption.scss
  csfieldguide/static/interactives/rsa-jsencrypt/README.md
  csfieldguide/static/interactives/rsa-jsencrypt/css/rsa-jsencrypt.scss
  csfieldguide/static/interactives/rsa-jsencrypt/js/rsa-jsencrypt.js
  csfieldguide/static/interactives/rsa-jsencrypt/package.json
  csfieldguide/static/interactives/rsa-key-generator/README.md
  csfieldguide/static/interactives/rsa-key-generator/css/rsa-key-generator.scss
  csfieldguide/static/interactives/rsa-key-generator/js/rsa-key-generator.js
  csfieldguide/static/interactives/rsa-key-generator/package.json
  csfieldguide/static/interactives/rsa-no-padding/README.md
  csfieldguide/static/interactives/rsa-no-padding/css/rsa-no-padding.scss
  csfieldguide/static/interactives/rsa-no-padding/js/rsa-jsencrypt-no-padding.js
  csfieldguide/static/interactives/rsa-no-padding/js/third-party/jsencrypt-no-padding.js
  csfieldguide/static/interactives/rsa-no-padding/package.json
  csfieldguide/templates/interactives/rsa-decryption.html
  csfieldguide/templates/interactives/rsa-encryption.html
  csfieldguide/templates/interactives/rsa-jsencrypt.html
  csfieldguide/templates/interactives/rsa-key-generator.html
  csfieldguide/templates/interactives/rsa-no-padding.html
  third-party-licences/biginteger.txt
  third-party-licences/jsencrypt.txt
  third-party-licences/node-rsa.txt
  third-party-licences/node.txt
Labels: interactives, internationalization

#1152 Add note to users about broken interactives
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
Labels: content: chapters, interactives

#1151 Fix consistency in RSA interactives
  csfieldguide/static/interactives/rsa-decryption/js/rsa-decryption.js
  csfieldguide/static/interactives/rsa-encryption/js/rsa-encryption.js
  csfieldguide/static/interactives/rsa-key-generator/js/rsa-key-generator.js
  csfieldguide/templates/interactives/rsa-decryption.html
  csfieldguide/templates/interactives/rsa-encryption.html
  csfieldguide/templates/interactives/rsa-key-generator.html
Labels: bug, interactives

#1091 Rebuild AI sticks game for field guide
  LICENCE-THIRD-PARTY
  csfieldguide/chapters/content/en/artificial-intelligence/sections/the-whole-story.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/package.json
  csfieldguide/static/interactives/training-ground/README.md
  csfieldguide/static/interactives/training-ground/img/stick.png
  csfieldguide/static/interactives/training-ground/js/ai.js
  csfieldguide/static/interactives/training-ground/js/html-table.js
  csfieldguide/static/interactives/training-ground/js/image-grid.js
  csfieldguide/static/interactives/training-ground/js/training-ground.js
  csfieldguide/static/interactives/training-ground/package.json
  csfieldguide/static/interactives/training-ground/scss/training-ground.scss
  csfieldguide/templates/appendices/contributors.html
  csfieldguide/templates/interactives/training-ground.html
  docs/source/developer/translation_infrastructure.rst
  third-party-licences/training_ground.txt
Labels: interactives

#1156 Add glossary entries for Computer Vision Chapter
  csfieldguide/chapters/content/en/computer-vision/computer-vision.md
  csfieldguide/chapters/content/en/computer-vision/sections/edge-detection.md
  csfieldguide/chapters/content/en/computer-vision/sections/face-recognition.md
  csfieldguide/chapters/content/en/computer-vision/sections/lights-camera-action.md
  csfieldguide/chapters/content/en/computer-vision/sections/noise.md
  csfieldguide/chapters/content/en/computer-vision/sections/thresholding.md
  csfieldguide/chapters/content/en/computer-vision/sections/whats-the-big-picture.md
  csfieldguide/chapters/content/en/glossary/computer-vision.md
  csfieldguide/chapters/content/en/glossary/edge-detection.md
  csfieldguide/chapters/content/en/glossary/image-noise.md
  csfieldguide/chapters/content/en/glossary/image-segmentation.md
  csfieldguide/chapters/content/en/glossary/thresholding.md
Labels: content: chapters

#1112 Create password guessing interactive
  csfieldguide/chapters/content/en/coding-encryption/sections/storing-passwords-securely.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/package.json
  csfieldguide/static/interactives/password-guesser/README.md
  csfieldguide/static/interactives/password-guesser/js/password-guesser.js
  csfieldguide/static/interactives/password-guesser/js/passwords.js
  csfieldguide/static/interactives/password-guesser/package.json
  csfieldguide/static/interactives/password-guesser/scss/password-guesser.scss
  csfieldguide/templates/interactives/password-guesser.html
Labels: content: chapters, interactives

#1146 Rebuild scene editor interactive
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/package.json
  csfieldguide/static/interactives/scene-editor/README.md
  csfieldguide/static/interactives/scene-editor/img/LICENCE
  csfieldguide/static/interactives/scene-editor/img/bridge-negx.jpg
  csfieldguide/static/interactives/scene-editor/img/bridge-negy.jpg
  csfieldguide/static/interactives/scene-editor/img/bridge-negz.jpg
  csfieldguide/static/interactives/scene-editor/img/bridge-posx.jpg
  csfieldguide/static/interactives/scene-editor/img/bridge-posy.jpg
  csfieldguide/static/interactives/scene-editor/img/bridge-posz.jpg
  csfieldguide/static/interactives/scene-editor/js/scene-editor.js
  csfieldguide/static/interactives/scene-editor/package.json
  csfieldguide/static/interactives/scene-editor/scss/scene-editor.scss
  csfieldguide/templates/interactives/scene-editor.html
Labels: interactives, internationalization

#1111 Update Django to 2.2.3
  Dockerfile
  Dockerfile-local
  csfieldguide/appendices/urls.py
  csfieldguide/chapters/migrations/0032_auto_20191008_2342.py
  csfieldguide/chapters/models.py
  csfieldguide/chapters/urls.py
  csfieldguide/config/templatetags/translate_url.py
  csfieldguide/config/urls.py
  csfieldguide/curriculum_guides/migrations/0004_auto_20191008_2342.py
  csfieldguide/curriculum_guides/models.py
  csfieldguide/curriculum_guides/urls.py
  csfieldguide/curriculum_guides/views.py
  csfieldguide/general/urls.py
  csfieldguide/interactives/migrations/0014_auto_20191008_2342.py
  csfieldguide/interactives/urls.py
  csfieldguide/search/urls.py
  csfieldguide/utils/TranslatableModel.py
Labels: infrastructure

#1157 Add glossary entries to Formal Languages chapter
  csfieldguide/chapters/content/en/formal-languages/formal-languages.md
  csfieldguide/chapters/content/en/formal-languages/sections/finite-state-automata.md
  csfieldguide/chapters/content/en/formal-languages/sections/getting-started.md
  csfieldguide/chapters/content/en/formal-languages/sections/grammars-and-parsing.md
  csfieldguide/chapters/content/en/formal-languages/sections/regular-expressions.md
  csfieldguide/chapters/content/en/formal-languages/sections/whats-the-big-picture.md
  csfieldguide/chapters/content/en/glossary/compiler.md
  csfieldguide/chapters/content/en/glossary/finite-state-automaton.md
  csfieldguide/chapters/content/en/glossary/formal-language.md
  csfieldguide/chapters/content/en/glossary/grammar.md
  csfieldguide/chapters/content/en/glossary/interpreter.md
  csfieldguide/chapters/content/en/glossary/language.md
  csfieldguide/chapters/content/en/glossary/regular-expression.md
  csfieldguide/chapters/content/en/glossary/syntax.md
  csfieldguide/chapters/content/en/glossary/transition.md
Labels: content: chapters

#1159 Add ability to edit existing equations in matrix simplifier interactive.
  csfieldguide/static/interactives/matrix-simplifier/README.md
  csfieldguide/static/interactives/matrix-simplifier/js/matrix-simplifier.js
  csfieldguide/static/interactives/matrix-simplifier/scss/matrix-simplifier.scss
  csfieldguide/static/svg/icons8-pencil.svg
  csfieldguide/templates/interactives/matrix-simplifier.html
Labels: interactives

#1158 Add expected functionality to scene editor interactive
  LICENCE-THIRD-PARTY
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
  csfieldguide/static/interactives/scene-editor/README.md
  csfieldguide/static/interactives/scene-editor/js/scene-editor.js
  csfieldguide/static/interactives/scene-editor/scss/scene-editor.scss
  csfieldguide/static/js/third-party/threejs/TeapotBufferGeometry.js
  csfieldguide/templates/interactives/scene-editor.html
Labels: interactives

#1162 Exclude licences directory from Linkie
  .arnold.yaml
Labels: backend, infrastructure

#1160 Fix print preview to have ability to print more than just the current page in Chrome.
  csfieldguide/static/scss/website.scss
Labels: bug, frontend

#1163 Add glossaries for NCP chapter
  csfieldguide/chapters/content/en/glossary/client.md
  csfieldguide/chapters/content/en/glossary/convention.md
  csfieldguide/chapters/content/en/glossary/http.md
  csfieldguide/chapters/content/en/glossary/protocol.md
  csfieldguide/chapters/content/en/glossary/server.md
  csfieldguide/chapters/content/en/network-communication-protocols/network-communication-protocols.md
  csfieldguide/chapters/content/en/network-communication-protocols/sections/application-level-protocols.md
  csfieldguide/chapters/content/en/network-communication-protocols/sections/the-whole-story.md
  csfieldguide/chapters/content/en/network-communication-protocols/sections/transport-layer-protocols.md
  csfieldguide/chapters/content/en/network-communication-protocols/sections/what-is-a-protocol.md
Labels: content: chapters

#1164 Edit .vtt files so they are in correct format for Vimeo.
  subtitles/en/computer_science_buskers_error_detection.vtt
  subtitles/en/csfg_algorithms_race.vtt
  subtitles/en/csfg_artificial_intelligence_intro.vtt
  subtitles/en/csfg_computer_graphics_intro.vtt
  subtitles/en/csfg_computer_vision_intro.vtt
  subtitles/en/csfg_human_computer_interaction_intro.vtt
  subtitles/en/csfg_introduction.vtt
  subtitles/en/csfg_software_engineering_intro.vtt
  subtitles/en/csfg_tractability_intro.vtt
  subtitles/en/formal_languages_intro.vtt
  subtitles/en/fsa_1_intro.vtt
  subtitles/en/fsa_2_uses.vtt
  subtitles/en/fsa_3_looks.vtt
  subtitles/en/fsa_4_example_sentence.vtt
  subtitles/en/fsa_5_common_terms.vtt
  subtitles/en/fsa_6_build_our_own.vtt
  subtitles/en/fsa_7_more_states.vtt
  subtitles/en/fsa_8_finishing.vtt
  subtitles/en/image_compression_making_contact.vtt
  subtitles/en/network_protocols_intro.vtt
  subtitles/en/regex_1_intro.vtt
  subtitles/en/regex_2_basics.vtt
  subtitles/en/regex_3_extended.vtt
  subtitles/en/regex_4_fsa.vtt
  subtitles/en/regex_5_example.vtt
Labels: frontend, internationalization

#1167 Fix Colour Matcher bug where some bits did not flip when clicked on
  csfieldguide/static/interactives/colour-matcher/README.md
  csfieldguide/static/interactives/colour-matcher/js/colour-matcher.js
Labels: bug, interactives

#1168 Matrix simplifier improvements
  csfieldguide/static/interactives/matrix-simplifier/js/matrix-simplifier.js
  csfieldguide/static/interactives/matrix-simplifier/scss/matrix-simplifier.scss
  csfieldguide/static/interactives/scene-editor/js/scene-editor.js
  csfieldguide/templates/interactives/matrix-simplifier.html
  csfieldguide/templates/interactives/scene-editor.html
Labels: interactives

#1169 Add glossary entries to Software Engineering chapter
  csfieldguide/chapters/content/en/glossary/bug.md
  csfieldguide/chapters/content/en/glossary/problem-domain.md
  csfieldguide/chapters/content/en/glossary/prototype.md
  csfieldguide/chapters/content/en/glossary/software.md
  csfieldguide/chapters/content/en/glossary/stakeholder.md
  csfieldguide/chapters/content/en/software-engineering/sections/analysis.md
  csfieldguide/chapters/content/en/software-engineering/sections/testing.md
  csfieldguide/chapters/content/en/software-engineering/software-engineering.md
Labels: content: chapters

#1170 Update sentence about mesh points in CG chapter.
  csfieldguide/chapters/content/en/computer-graphics/sections/graphics-transformations.md
Labels: content: chapters

#1174 Remove float-left and float-right mixins.
  csfieldguide/static/scss/website.scss
Labels: backend

#1176 Make suggested improvements
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/static/interactives/number-memory/js/number-memory.js
  csfieldguide/static/interactives/password-guesser/js/passwords.js
  csfieldguide/static/interactives/password-guesser/passwords.txt
  csfieldguide/static/interactives/password-guesser/scss/password-guesser.scss
  csfieldguide/templates/interactives/number-memory.html
  csfieldguide/templates/interactives/password-guesser.html
Labels: bug, interactives, suggestion
