Repository uccser/cs-field-guide, pull requests merged in 2020-05, with the labels that each got.

#1245 Fit binary cards in groups of 8 on large screens
  csfieldguide/static/interactives/binary-cards/css/binary-cards.scss
Labels: interactives, suggestion, user feedback

#1263 Allow users to choose the number of cards displayed in binary cards interactive with input box
  csfieldguide/chapters/content/en/data-representation/sections/whats-the-big-picture.md
  csfieldguide/static/interactives/binary-cards/README.md
  csfieldguide/static/interactives/binary-cards/css/binary-cards.scss
  csfieldguide/static/interactives/binary-cards/js/binary-cards.js
  csfieldguide/templates/interactives/binary-cards.html
Labels: interactives

#1207 Fix overflow of matrices in Matrix Simplifier
  csfieldguide/static/interactives/matrix-simplifier/README.md
  csfieldguide/static/interactives/matrix-simplifier/js/matrix-simplifier.js
  csfieldguide/static/interactives/matrix-simplifier/scss/matrix-simplifier.scss
  csfieldguide/static/svg/matrix-simplifier/icons8-drag-reorder.svg
  csfieldguide/static/svg/matrix-simplifier/icons8-pencil.svg
  csfieldguide/templates/interactives/matrix-simplifier.html
Labels: bug, interactives
