Repository uccser/cs-field-guide, pull requests merged in 2020-09, with the labels that each got.

#1309 Fix up Pixel Viewer and RGB mixer plus modernise CMY mixer
  csfieldguide/general/urls.py
  csfieldguide/static/interactives/cmy-mixer/README.md
  csfieldguide/static/interactives/cmy-mixer/js/cmy-mixer.js
  csfieldguide/static/interactives/cmy-mixer/scss/cmy-mixer.scss
  csfieldguide/static/interactives/pixel-viewer/README.md
  csfieldguide/static/interactives/pixel-viewer/js/pixel-viewer.js
  csfieldguide/static/interactives/rgb-mixer/README.md
  csfieldguide/static/interactives/rgb-mixer/js/rgb-mixer.js
  csfieldguide/templates/interactives/cmy-mixer.html
Labels: interactives

#1321 Fix typo in Towers of Hanoi description
  csfieldguide/chapters/content/en/complexity-and-tractability/sections/algorithms-problems-and-speed-limits.md
Labels: content: chapters, user feedback

#1318 Replace broken link.
  csfieldguide/chapters/content/en/human-computer-interaction/sections/usability-heuristics.md
Labels: bug
