Repository uccser/cs-field-guide, pull requests merged in 2020-06, with the labels that each got.

#1273 Fix issue with LZSS compression interactive encoding text incorrectly
  csfieldguide/chapters/content/en/coding-compression/sections/general-purpose.md
  csfieldguide/static/interactives/lzss-compression/js/lzss-compression.js
  csfieldguide/static/interactives/lzss-compression/scss/lzss-compression.scss
  csfieldguide/templates/interactives/lzss-compression.html
Labels: bug, interactives

#1282 Fix checkbox bug in jpeg compression interactive
  csfieldguide/static/interactives/jpeg-compression/README.md
  csfieldguide/static/interactives/jpeg-compression/css/jpeg-compression.scss
  csfieldguide/static/interactives/jpeg-compression/js/jpeg-compression.js
  csfieldguide/templates/interactives/jpeg-compression.html
Labels: bug, interactives

#1283 Resolve issues with LZSS algorithm
  csfieldguide/static/interactives/lzss-compression/README.md
  csfieldguide/static/interactives/lzss-compression/img/thumbnail.png
  csfieldguide/static/interactives/lzss-compression/js/lzss-compression.js
  csfieldguide/static/interactives/lzss-compression/js/lzssAlgorithm.js
Labels: bug, interactives

#1279 Update python programs for sorting and searching sections
  csfieldguide/chapters/content/en/algorithms/sections/searching.md
  csfieldguide/chapters/content/en/algorithms/sections/sorting.md
  csfieldguide/static/files/linear-binary-search-python2.py
  csfieldguide/static/files/linear-binary-search-python3.py
  csfieldguide/static/files/selection-quicksort-python2.py
  csfieldguide/static/files/selection-quicksort-python3.py
Labels: content: chapters

#1285 Add text output and efficiency calculation to LZSS interactive
  csfieldguide/chapters/content/en/coding-compression/sections/general-purpose.md
  csfieldguide/static/interactives/city-trip/js/city-trip.js
  csfieldguide/static/interactives/city-trip/js/heaps-algorithm.js
  csfieldguide/static/interactives/lzss-compression/js/lzss-algorithm.js
  csfieldguide/static/interactives/lzss-compression/js/lzss-compression.js
  csfieldguide/static/interactives/lzss-compression/scss/lzss-compression.scss
  csfieldguide/templates/interactives/lzss-compression.html
Labels: interactives, suggestion

#1286 Increase Binary Cards card limit
  csfieldguide/static/interactives/binary-cards/README.md
  csfieldguide/static/interactives/binary-cards/js/binary-cards.js
  csfieldguide/templates/interactives/binary-cards.html
Labels: interactives

#1281 Release 3.4.0
  csfieldguide/chapters/content/en/algorithms/sections/searching.md
  csfieldguide/chapters/content/en/algorithms/sections/sorting.md
  csfieldguide/chapters/content/en/coding-compression/sections/general-purpose.md
  csfieldguide/chapters/content/en/data-representation/sections/whats-the-big-picture.md
  csfieldguide/config/__init__.py
  csfieldguide/static/files/linear-binary-search-python2.py
  csfieldguide/static/files/linear-binary-search-python3.py
  csfieldguide/static/files/selection-quicksort-python2.py
  csfieldguide/static/files/selection-quicksort-python3.py
  csfieldguide/static/interactives/binary-cards/README.md
  csfieldguide/static/interactives/binary-cards/css/binary-cards.scss
  csfieldguide/static/interactives/binary-cards/js/binary-cards.js
  csfieldguide/static/interactives/city-trip/js/city-trip.js
  csfieldguide/static/interactives/city-trip/js/heaps-algorithm.js
  csfieldguide/static/interactives/jpeg-compression/README.md
  csfieldguide/static/interactives/jpeg-compression/css/jpeg-compression.scss
  csfieldguide/static/interactives/jpeg-compression/js/jpeg-compression.js
  csfieldguide/static/interactives/lzss-compression/README.md
  csfieldguide/static/interactives/lzss-compression/img/thumbnail.png
  csfieldguide/static/interactives/lzss-compression/js/lzss-algorithm.js
  csfieldguide/static/interactives/lzss-compression/js/lzss-compression.js
  csfieldguide/static/interactives/lzss-compression/scss/lzss-compression.scss
  csfieldguide/static/interactives/matrix-simplifier/README.md
  csfieldguide/static/interactives/matrix-simplifier/js/matrix-simplifier.js
  csfieldguide/static/interactives/matrix-simplifier/scss/matrix-simplifier.scss
  csfieldguide/static/svg/matrix-simplifier/icons8-drag-reorder.svg
  csfieldguide/static/svg/matrix-simplifier/icons8-pencil.svg
  csfieldguide/templates/interactives/binary-cards.html
  csfieldguide/templates/interactives/jpeg-compression.html
  csfieldguide/templates/interactives/lzss-compression.html
  csfieldguide/templates/interactives/matrix-simplifier.html
  docs/source/changelog.rst
  requirements/base.txt
  requirements/local.txt
  requirements/test.txt
Labels: bug, interactives
