Repository uccser/cs-field-guide, pull requests merged in 2021-02, with the labels that each got.

#1364 Add Context-free Grammar interactive
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/static/interactives/cfg-equation-builder/README.md
  csfieldguide/static/interactives/cfg-equation-builder/js/cfg-equation-builder.js
  csfieldguide/static/interactives/cfg-equation-builder/scss/cfg-equation-builder.scss
  csfieldguide/templates/interactives/cfg-equation-builder.html
Labels: interactives

#1367 Release 3.7.0
  csfieldguide/config/__init__.py
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/static/interactives/cfg-equation-builder/README.md
  csfieldguide/static/interactives/cfg-equation-builder/js/cfg-equation-builder.js
  csfieldguide/static/interactives/cfg-equation-builder/scss/cfg-equation-builder.scss
  csfieldguide/templates/appendices/contributors.html
  csfieldguide/templates/interactives/cfg-equation-builder.html
  docs/source/changelog.rst
Labels: documentation, interactives

#1366 Fix trainsylvania-complete uninteractive
  csfieldguide/chapters/content/en/formal-languages/sections/finite-state-automata.md
  csfieldguide/static/interactives/trainsylvania-complete/css/trainsylvania-complete.scss
  csfieldguide/static/interactives/trainsylvania-complete/img/english-solution.png
  csfieldguide/templates/interactives/trainsylvania-complete.html
Labels: bug, uninteractives

#1368 Rename Context-free Grammar interactive
  csfieldguide/interactives/content/en/interactives.yaml
  csfieldguide/interactives/content/structure/interactives.yaml
  csfieldguide/static/interactives/cfg-parsing-challenge/README.md
  csfieldguide/static/interactives/cfg-parsing-challenge/js/cfg-parsing-challenge.js
  csfieldguide/static/interactives/cfg-parsing-challenge/scss/cfg-parsing-challenge.scss
  csfieldguide/templates/interactives/cfg-parsing-challenge.html
Labels: interactives
